<section class="hero section">
  <div class="hero-container container">
    <div class="header-containter">
      <h2 class="header-title">dunder mifflin</h2>
      <h3 class="header-title-bottom">paper company</h3>
    </div>
    <h1 class="hero-title">I am Beyoncé always.</h1>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/1-hero/hero-desktop-img-1x.jpg 1x,
          ../img/1-hero/hero-desktop-img-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/1-hero/hero-img-1x-mob.jpg 1x,
          ../img/1-hero/hero-img-2x-mob.jpg 2x
        "
      />
      <img
        src="../img/1-hero/hero-desktop-img-1x.jpg"
        height="270"
        width="480"
        alt="The office cast"
      />
    </picture>
    <h3 class="hero-subtitle">
      Fact: Bears eat beets. Bears. Beets. Battlestar Galactica.
    </h3>
    <p class="hero-paragraph">
      In the wild, there is no healthcare. In the wild healthcare is, 'Ow, I
      hurt my leg. I can't run. A lion eats me, and I'm dead.'' Well, I'm not
      dead. I'm the lion. You're dead.
    </p>
    <button class="hero-btn" type="button">Buy or get Dwighted</button>
  </div>
</section>
