<section class="benefits section">
  <div class="benefits-container container">
    <ul class="benefits-list">
      <div class="benefits-list-item">
        <picture class="benefits-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/2-benefits/rule-desktop-1x.webp 1x,
              ../img/2-benefits/rule-desktop-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/2-benefits/rule-mob-1x.webp 1x,
              ../img/2-benefits/rule-mob-2x.webp 2x
            "
          />
          <img
            src="../img/2-benefits/rule-desktop-1x.webp"
            height="240"
            width="240"
            alt="Jim as Dwight"
          />
        </picture>
        <div class="benefits-item-containter">
        <h3 class="benefits-header">I live by one rule.</h3>
        <p class="benefits-paragraph">
          No office romances, no way. Very messy, inappropriate… no. But, I live
          by another rule: Just do it… Nike.
        </p>
        <a href="https://certutil.net/" class="benefits-link"
          >Link out here ></a
        >
        </div>
      </li>
      <li class="benefits-list-item">
        <picture class="benefits-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/2-benefits/work-hard-desktop-1x.webp 1x,
              ../img/2-benefits/work-hard-desktop-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/2-benefits/work-hard-mob-1x.webp 1x,
              ../img/2-benefits/work-hard-mob-2x.webp 2x
            "
          />
          <img
            src="../img/2-benefits/work-hard-desktop-1x.webp"
            height="240"
            width="240"
            alt="Jim as Dwight"
          />
        </picture>
         <div class="benefits-item-containter">
        <h3 class="benefits-header">I work hard all day.</h3>
        <p class="benefits-paragraph">
          I like knowing that there's going to be a break. Most days I just sit
          and wait for the break.
        </p>
        <a href="https://certutil.net/" class="benefits-link"
          >Link out here ></a
        >
        </div>
      </li>
      <li class="benefits-list-item">
        <picture class="benefits-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/2-benefits/fast-desktop-1x.webp 1x,
              ../img/2-benefits/fast-desktop-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/2-benefits/fast-mob-1x.webp 1x,
              ../img/2-benefits/fast-mob-2x.webp 2x
            "
          />
          <img
            src="../img/2-benefits/fast-desktop-1x.webp"
            height="240"
            width="240"
            alt="Jim as Dwight"
          />
        </picture>
         <div class="benefits-item-containter">
        <h3 class="benefits-header">I am fast.</h3>
        <p class="benefits-paragraph">
          To give you a reference point. I'm somewhere between a snake and a
          mongoose. And a panther.
        </p>
        <a href="https://certutil.net/" class="benefits-link"
          >Link out here ></a>
        </div>
      </li>
    </ul>
    <button class="benefits-btn" type="button">Buy or get Dwighted</button>
  </div>
</section>
