/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'modern-normalize';
@import url('./reset.css');
@import url('./1-hero.css');
@import url('./2-benefits.css');
@import url('./3-footer.css');

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  color: #fff;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

html {
  scroll-behavior: smooth;
}

/* Mobile */

@media screen and (min-width: 360px) {
  container {
    width: 360px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
